<p>The <b>Thylacinus Cynocephalus</b> was the largest known carnivorous marsupial of modern times.</p>
<p>Commonly known as the <b>Tasmanian tiger</b> or the <b>Tasmanian wolf</b>, it is believed to have become extinct in the 20th century, but sightings are still reported, though none has been conclusively proven.</p>
(<a href="https://en.wikipedia.org/wiki/Thylacine">Wikipedia</a>)