<p>El <b>Thylacinus cynocephalus</b> fue el marsupial carnívoro más grande que se conozca de los tiempos modernos.</p>
<p>Comúnmente conocido como <b>lobo de Tasmania</b> o <b>tigre de Tasmania</b>, se cree que extinguió en el siglo XX, pero aun se reportan avistamientos, aunque ninguno fue confirmado concluyentemente. </p>
(<a href="https://es.wikipedia.org/wiki/Thylacinus_cynocephalus">Wikipedia</a>)
