<p class="lead">My name is Rodrigo, and I've been working in software development for almost 15 years, mainly in web development.</p>
<p class="lead">Some of that time I spent working as an employee in several companies, ranging from small
  software factories to big multinationals.</p>
<p class="lead">I also worked as a freelancer in several projects for local companies managing and developing
  small projects from scratch. On some of those projects I partnered with a graphic designer under the name Ximera.</p>
<p>You can reach me for freelance work through <%= about_link :linkedin %> or <%= about_link :upwork %>.</p>
