<p class="lead">My nombre es Rodrigo, y llevo  casi 15 años trabajando en desarrollo de software,
  principalmente en desarrollo web.</p>
<p class="lead">Parte de ese tiempo estuve trabajando como empleado en varias empresas,
  desde pequeñas software factories hasta grandes multinacionales.</p>
<p class="lead">También trabajé como freelancer en varios proyectos para empresas locales
  gestionando y desarrollando de cero proyectos de pequeña envergadura. Algunos de esos
  proyectos los realice junto con un diseñador gráfico bajo el nombre Ximera.</p>
<p>Me pueden contactar para trabajos freelance a través
  de <%= about_link :linkedin %> or <%= about_link :upwork %>.</p>